* {
    font-family:'Roboto', Garamond ;
    margin: 0;
    padding: 0;
}
.logo{
    font: weight 24px;
    color: #f9faf8;
    padding-left: 20px;
}
.Header{
 color: white;
 background-color: #1f2937;
 padding-left: 100px;
 padding-right: 100px;
}
#about-ghana{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 50px;
 padding-bottom: 50px;
}
#menu-logo{
    display: flex;
    justify-content: space-between;
    padding-top: 10px; 
}

button{
    color: white;
    background-color: #3882f6;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}
a{
    color: white;
    text-decoration: none;
    margin: 5px;
}
.Review{
    padding: 100px;
    font-style: italic;
    font-size: 18px;
    color: #1F2937;
    background-color: #E5E7EB;
    text-align: center;
}

.info{
    display: block;
}

#Picture{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: bottom 5px;
}

.action{
    padding-top: 10px;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
#info-text{
    display: block;
}
.info-1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.main{
    padding: 70px;
}
.footer{
    text-align: center;
    background-color: #E5E7EB;
    padding: 20px;
}
.action-text{
    font-size: 24px;
    font-weight: 100;
}

.action-container{
    color: #f9faf8;
    display: flex;
    background-color: #3882f6;
    padding:20px;
    margin: 20px 200px;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
}
.Call-to-action{
    background-color: #f9faf8;
}

.action-button{
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    
}
